.PrivacyPolicy_container{
    background-color: red;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PrivacyPolicy_container h1{
    font-size: 30px;
}